
@{
    ViewBag.Title = "ForgotPassword";
}
<br/><br /><br /><br /><br />
<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "Home"))
{
    <input type="text" name="email" />
    <input type="submit" value="Submit" />
}
@Html.Raw(ViewBag.FakeEmailMessage)
