
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Toop-O-Toor</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Theme CSS -->

    <link href="~/css/agency.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
    <!-- Navigation --><!-- Navigation -->
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Toop-O-Toor</a><span class="icon-toop-o-toor toop-3x page-scroll"></span>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    
                    @{
                        if (Request.IsAuthenticated)
                        {


                            <li><span class="label label-info">@Html.Raw(User.Identity.Name)</span></li>
                            <li><a href="@Url.Action("Logout")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Login")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        }

                    }

                    <li>
                        @Html.ActionLink("Register", "Register")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
       
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Volleyball Club!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <br /><br />
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/img/about/groupTraining.jpg" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">Private and Group Training: Indoor Volleyball</h4>
                    <p class="text-muted">Saturdays 11:00am-1:00pm Queen Mary Elementry School North Vancouver, Tuesdays 5:30pm-7:30pm Lynn Valley Elementry School North Vancouver.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/img/about/personalTraining.jpg" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">Personal Training</h4>
                    <p class="text-muted">Let us help you build the body you need to make your volleyball goals happen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/img/about/jumping.jpg" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">Jump Training</h4>
                    <p class="text-muted">How can you learn to jump higher and reach your full potential as a volleyball player? Let us help you.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/lessons/1.png" alt=""> -->
                        </div>
                    </span>

                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2><br /><br />
                </div>
            </div>
            <div class="row" id="row">
                <!-- <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/lessons/1.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Lessons</h4>
                    </div>
                </div> -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="icon-toop-o-toor toop-3x"></i>
                               
                            </div>
                        </div>
                        <img src="~/img/portfolio/1.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Practice</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="icon-toop-o-toor toop-3x"></i>
                            </div>
                        </div>
                        <img src="~/img/portfolio/2.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Practice</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="icon-toop-o-toor toop-3x"></i>
                            </div>
                        </div>
                        <img src="~/img/portfolio/3.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Practice</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="icon-toop-o-toor toop-3x"></i>
                            </div>
                        </div>
                        <img src="~/img/portfolio/4.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Practice</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="icon-toop-o-toor toop-3x"></i>
                                
                            </div>
                        </div>
                        <img src="~/img/portfolio/5.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Coach Practice</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="icon-toop-o-toor toop-3x"></i>
                            </div>
                        </div>
                        <img src="~/img/portfolio/6.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Interview with VOA</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2><br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013 – 2015 (2 years)|Tehran, Iran</h4>
                                    <p class="subheading">Head Coach/Director</p>
                                    <p class="subheading">Academy Volleyball Paas Club</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012 – 2013 (1 year)Mexico</h4>
                                    <p class="subheading">Head Volleyball Coach (national team) U19</p>
                                    <p class="subheading">Iran Volleyball Federation</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2011 – March 2012 (5 months)Tehran, Iran</h4>
                                    <p class="subheading">Head Volleyball Coach (National Team) U 18</p>
                                    <p class="subheading">Iran Volleyball Federation</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2009 – September 2010 (11 months)Tehran, Iran</h4>
                                    <p class="subheading">Youth /Children Volleyball Coach</p>
                                    <p class="subheading">Paas Sport Complex</p>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2008 – November 2008 (6 months)Tehran, Iran</h4>
                                    <p class="subheading">National Youth Team (Girls) Coach Assistant</p>
                                    <p class="subheading">Iran Volleyball Federation</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2007 – September 2007 (7 months)Tehran, Iran</h4>
                                    <p class="subheading">Assistant Coach National Junior (under 19)</p>
                                    <p class="subheading">Iran Volleyball Federation</p>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2006 – February 2007 (11 months)Tehran, Iran</h4>
                                    <p class="subheading">National Team of Iran (Senior) Trainer</p>
                                    <p class="subheading">Iran Volleyball Federation</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2006 – March 2006 (3 months)Tehran, Iran</h4>
                                    <p class="subheading">Assistant Coach National (Under 23)</p>
                                    <p class="subheading">Iran Volleyball Federation</p>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/9.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1992 – 1997 (5 years)Tehran, Iran</h4>
                                    <p class="subheading">National Team Captain</p>
                                    <p class="subheading">Iran Volleyball Federation</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/10.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1989 – 1992 (3 years)Tehran, Iran</h4>
                                    <p class="subheading">National Team Player</p>
                                    <p class="subheading">Iran Volleyball Federation</p>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/about/11.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1987 – 1989 (2 years)Tehran, Iran</h4>
                                    <p class="subheading">National Team captain (Junior)</p>
                                    <p class="subheading">Iran Volleyball Federation</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Be Part
                                    <br>Of Our
                                    <br>Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/img/team/1.png" class="img-responsive img-circle" alt="">
                        <h4>Iraj Mozaffari</h4>
                        <p class="text-muted">Head Coach</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://ca.linkedin.com/in/iraj-mozaffari-697457112"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/img/team/2.png" class="img-responsive img-circle" alt="">
                        <h4>Ahmad Abouali</h4>
                        <p class="text-muted">Coach</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/img/team/4.jpg" class="img-responsive img-circle" alt="">
                        <h4>.....</h4>
                        <p class="text-muted">Coach</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients Aside -->
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2><br /><br /><br />
                    <h3 class="section-subheading text-muted">Tel: 778-807-4247</h3>
                    <h3 class="section-subheading text-muted">Email: toopotoorclub@gmail.com</h3>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Practice</h2>
                                <!-- <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p> -->
                                <!--  <img class="img-responsive img-centered" src="img/portfolio/1.png" href="video/1.mov" alt=""> -->
               
                                <video controls="controls">
                                    <source src="~/video/1.mp4" type="video/mp4" />
                                </video>
                                <!-- <p>Use this area to describe your project</p> -->
                                <!-- <p>Use this area to describe your project</p> -->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Practice</h2>
                                <!-- <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur1111111111.</p> -->
                                <!-- <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""> -->
                                <video controls>
                                    <source src="~/video/2.mp4" type="video/mp4">
                                </video>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Practice</h2>
                                <!-- <img class="img-responsive img-centered" src="img/portfolio/treehouse-preview.png" alt=""> -->
                                <video controls>
                                    <source src="~/video/3.mp4" type="video/mp4">
                                </video>
                                <!-- <p>Use this area to describe your project</p>										 -->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Practice</h2>
                                <!-- <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p> -->
                                <!-- <img class="img-responsive img-centered" src="img/portfolio/golden-preview.png" alt=""> -->
                                <video controls>
                                    <source src="~/video/4.mp4" type="video/mp4">
                                </video>
                                <!--  <p>Use this area to describe your project</p> -->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Practice</h2>
                                <!-- <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p> -->
                                <!-- <img class="img-responsive img-centered" src="img/portfolio/escape-preview.png" alt=""> -->
                                <video controls>
                                    <source src="~/video/5.mp4" type="video/mp4">
                                </video>
                                <!-- <p>Use this area to describe your project</p>		 -->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Practice</h2>
                                <!-- <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p> -->
                                <!-- <img class="img-responsive img-centered" src="img/portfolio/dreams-preview.png" alt=""> -->
                                <video controls>
                                    <source src="~/video/6.mp4" type="video/mp4">
                                </video>
                                <!-- <p>Use this area to describe your project</p>		 -->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="~/js/agency.min.js"></script>
    <script src="~/js/myJavaScript.js"></script>
</body>
</html>
